# Ignore SQLite database file
db.sqlite3

# Ignore Python bytecode files
**/__pycache__/*
**/__pycache__/*.*

# Ignore specific Python bytecode files
dogs/__pycache__/*
articles/__pycache__/*
tasks/__pycache__/*
users/__pycache__/*

# Ignore specific SQLite database file
petology/db.sqlite3
petology/dogs/__pycache__/admin.cpython-37.pyc
petology/petologyVenv/*
